In [1]:
import pandas as pd

In [2]:
valid_loc = set([4,5,7,9,11,13,13,15,17,18,20,21,22,25,27,31])

In [5]:
pingjun = pd.read_csv('nov11yuepingjun0.95.csv')

In [6]:
pingjun.head()

   loc_id     time_stamp  num_of_people
0       1  2017-12-01 00            656
1       2  2017-12-01 00            931
2       3  2017-12-01 00            260
3       4  2017-12-01 00            123
4       5  2017-12-01 00            278

In [7]:
gbdt = pd.read_csv('gbdt_res_teding3.csv')

In [8]:
gbdt.head()

   loc_id     time_stamp  num_of_people
0       1  2017-12-01 00            608
1       2  2017-12-01 00            643
2       3  2017-12-01 00            110
3       4  2017-12-01 00            305
4       5  2017-12-01 00            285

In [12]:
res = pd.DataFrame()
for i in range(1,34):
    if i in valid_loc:
        res = res.append(gbdt[gbdt.loc_id==i])
    else:
        res = res.append(pingjun[pingjun.loc_id==i])

In [13]:
res.head()

     loc_id     time_stamp  num_of_people
0         1  2017-12-01 00            656
33        1  2017-12-01 01            396
66        1  2017-12-01 02            209
99        1  2017-12-01 03            350
132       1  2017-12-01 04            281

In [15]:
res.sort_values(by=['time_stamp', 'loc_id']).head()

   loc_id     time_stamp  num_of_people
0       1  2017-12-01 00            656
1       2  2017-12-01 00            931
2       3  2017-12-01 00            110
3       4  2017-12-01 00            305
4       5  2017-12-01 00            278

In [ ]:
res